.is-loading {
	position: relative;

	&:after {
		content: "";
		cursor: wait;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(255,255,255, 0.7);
	}

}
.addplayers .addplayer-content {
	display: none;
}

.addplayers[data-ui-open] .addplayer-content {
	display: block;
}



input {
	text-align: center;
}

input[disabled],
textarea[disabled] {
	border: none;
	background: transparent;
	padding: 0;
	color: #222;
	-webkit-text-fill-color: #222;
	-webkit-opacity: 1;
	opacity: 1;
}

input.narrow {
	width: 65px;
	padding: 8px 12px;
}

textarea {
	display: block;
	width: 100%;
	resize: none;
	min-height: 130px;
}

[data-completed] .game-action {
	display: none !important;
}
