.addplayers {
	margin-top: 1em;
}

.addplayer-content {
	display: none;

	&[data-ui-open] {
		display: block;
	}
}


.hole-list-wrap {
	width: 100%;
	overflow: hidden;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;

	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.hole-list {
	text-align: center;

	.row {
		margin: 0;
	}

	h3 {
		font-size: .9em;
		margin: 0;
	}

	h3 strong {
		display: block;
		font-size: 4em;
		font-weight: normal;
	}

	.hole-par {
		font-style: italic;
	}

	.hole {
		display: inline-block;
		width: 32%;
		vertical-align: top;
		margin-bottom: 1em;

		&:nth-child(2n -1) .inner {
			background: #f9f9f9;
		}
	}

	ul,
	ul li {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: left;
		clear: both;
	}

	.player-scores {
		margin: 0 -1em 1em;
	}

	ul li {
		display: table;
		width: 100%;
		padding: 4px 1em;

		&:nth-child(odd) {
			background: #f0f0f0;
		}
	}

	.hole-score,
	.hole-name {
		display: table-cell;
		margin: 0;
		vertical-align: middle;
	}

	.hole-score {
		position: relative;
		float: right;
		height: 2em;
		width: 2em;
		line-height: 1.9em;
		display: block;
		text-align: center;

		&.birdie,
		&.eagle,
		&.bogey,
		&.doublebogey {
			border: 1px solid #999;
		}


		&.birdie,
		&.eagle {
			&,
			&:before {
				border-radius: 100%;
			}
		}


		&.eagle,
		&.doublebogey {
			&:before {
				content: "";
				display: block;
				position: absolute;
				top:  2px;
				right: 2px;
				bottom: 2px;
				left: 2px;
				border: 1px solid #999;
			}
		}



	}

	.inner {
		padding: 1em;
		border: 1px solid #ccc;
		max-width: 180px;
		margin: 0 auto;
	}


	.classic-element {
		display: none;
	}

	.classicview & {
		white-space: nowrap;

		.grid-element {
			display: none;
		}

		.row {
			padding: 0.5em;
		}

		.classic-element {
			display:inline-block;
		}

		.hole {
			margin: 0 0 0 -5px;
			width: auto;
			border: 1px solid #ccc;
			border-width: 1px 0;
		}

		.inner {
			padding: 0;
			margin: 0;
			max-width: none;
			border-width: 0 1px 0 0;
		}

		.player-scores {
			margin: 0;
		}

		ul li {
			background: transparent;
		}

		h3 strong {
			font-size: 1.5em;
		}

	}
}

.viewToggle {
	float: right;
	text-transform: capitalize;
}

@media( max-width: 600px) {
	.hole-list .hole {
		width: 49%;

		&:nth-child(2n -1) .inner {
			background: transparent;
		}

		&:nth-child(4n - 2) .inner,
		&:nth-child(4n - 3) .inner {
			background: #f9f9f9;
		}
	}
}
