<template name="GameDashboard">
	<section data-completed="{{game.completed}}">
		<h1 class="page-header">{{ game.course }}</h1>

		<h3>Leaderboard</h3>
		<ul class="item-list">
		{{#each leaders }}
			<li class="item-list-item">
				<div class="info">
				<strong class="name">{{ this.name }}</strong>
				{{#if isCreator }}*{{/if }}

				{{#if canDeletePlayer}}
					<p>
						<button type="button" class="btn btn-link removePlayerFromGame game-action remove-item">
							<svg class="icon icon-small" viewBox="0 0 8 8"><use class="icon-remove" xlink:href="#circle-x"></use></svg>
							Remove Player
						</button>
					</p>
				{{/if}}
				</div>

				<div class="actions">
					<strong><small>({{ this.strokes }})</small> {{ formattedScore this.score }}</strong>
				</div>
			</li>
		{{/each}}
		</ul>

		<p class="ctas">
			<button class="btn btn-link game-action" id="addplayertogame" type="button">
				<svg class="icon icon-small" viewBox="0 0 8 8"><use class="icon-plus" xlink:href="#plus"></use></svg>
				Add Player To Game
			</button>
		</p>

		<div class="addplayers well game-action addplayer-content" id="addplayersform">

			{{#if users }}
				<label for="addplayerstogame">Add Users</label>
				<select id="addplayerstogame">
					<option value="">Select User</option>
					{{#each users }}
						<option value="{{ this._id }}">{{ this.username }}</option>
					{{/each}}
				</select>
				<br>
			{{/if}}

			<form id="add-one-time-player">

				<label for="onetimeplayers">Add One Time Players</label>
				<div class="input-group">
					<input id="onetimeplayers" type="text" class="form-control">
					<span class="input-group-btn">
						<button id="onetimeplayersbtn" class="btn btn-default" type="submit">
							Add
							<svg class="icon icon-small" viewBox="0 0 8 8"><use class="icon-plus" xlink:href="#plus"></use></svg>
						</button>
					</span>
				</div>

			</form>
		</div>

		<hr>

		<h2>Holes <button class="btn btn-info btn-xs viewToggle" type="button">{{ currentView true }} View</button></h2>
		<div class="hole-list-wrap {{ currentView }}view">
			<ul class="hole-list">
				<li class="hole classic-element table-labels">
					<div class="row">Hole Number</div>
					<div class="row">Par</div>
					{{#each game.players}}
						<div class="row">{{this.name}}</div>
					{{/each}}
				</li>
				{{#each game.holes}}
				<li class="hole">
					<div class="inner">
						<div class="row">
							<h3><span class="grid-element">Hole </span><strong>{{ this.number }}</strong></h3>
						</div>
						<div class="row">
							<p class="hole-par"><span class="grid-element">Par </span>{{ this.par }}</p>
						</div>
						<ul class="player-scores">
							{{#each holePlayers this }}
								<li class="row">
									<p class="hole-name grid-element">{{ playerName this }}:</p>
									<strong class="hole-score {{ scoreClass  }}">
										{{#if this.score }}
											{{this.score}}
										{{else}}
											&mdash;
										{{/if}}
									</strong>
								</li>
							{{/each }}
						</ul>
						{{#unless game.completed}}
							<p class="row">
								<a class="btn btn-mini btn-success btn-block game-action" href="{{ holeUrl }}">
									<span class="grid-element">Go to Hole</span>
									<svg class="icon icon-small" viewBox="0 0 8 8"><use class="icon-go" xlink:href="#share"></use></svg>
								</a>
							</p>
						{{/unless}}
					</div>
				</li>
				{{/each}}
			</ul>
		</div>

		{{#unless game.completed}}
			<p class="ctas">
				<button id="finish-game" type="button" class="btn btn-warning btn-lg btn-block">
					Finish Game
					<svg class="icon" viewBox="0 0 8 8"><use class="icon-circle-check" xlink:href="#circle-check"></use></svg>
				</button>
			</p>
		{{/unless}}


		<aside class="well">
			<p>
				<small>
					<svg class="icon icon-small" viewBox="0 0 8 8"><use class="icon-calendar" xlink:href="#calendar"></use></svg>
					{{ creatorName }} started this game at {{ formattedTime game.created }}.
				</small>
			</p>

			{{#if game.completed}}
				<p>
					<small>
						<svg class="icon icon-small" viewBox="0 0 8 8"><use class="icon-circle-check" xlink:href="#circle-check"></use></svg>
						This game was finished at {{ formattedTime game.completed }}.
					</small>
				</p>
				<p>
					<small>
						<svg class="icon icon-small" viewBox="0 0 8 8"><use class="icon-timer" xlink:href="#timer"></use></svg>
						Game lasted {{ duration }}.
					</small>
				</p>

			{{/if}}
		</aside>

		<p class="ctas">
			<a href="/">
				<svg class="icon" viewBox="0 0 8 8"><use class="icon-home" xlink:href="#home"></use></svg>
				Return Home
			</a>
		</p>
	</section>
</template>
