<template name="gameListItem">
	<li class="item-list-item">
		<div class="info">
			<strong class="name">{{ this.courseName }}</strong>
			<p class="player-list">
				<svg class="icon" viewBox="0 0 8 8"><use class="icon-people" xlink:href="#people"></use></svg>
				{{#each this.players}}
					<span>{{ this.name }}</span>
				{{/each}}
			</p>
			<p>
				<em class="time">
					{{#if this.completed}}
						<svg class="icon" viewBox="0 0 8 8"><use class="icon-calendar" xlink:href="#calendar"></use></svg>
						{{ finishedTime }}
					{{else}}
						<svg class="icon" viewBox="0 0 8 8"><use class="icon-clock" xlink:href="#clock"></use></svg>
						Started {{ timeAgo }}
					{{/if}}
				</em>
			</p>
		</div>

		<div class="actions">
			<a class="btn btn-sm btn-success" href="/game/{{ this._id }}">View Game</a>
		</div>
	</li>
</template>
