<template name="Hole">

	<div class="page-header hole-header">
		<h3 class="hole-course">
			<a href="/game/{{ game._id }}">
				<svg class="icon" viewBox="0 0 8 8"><use class="icon-left icon-small" xlink:href="#chevron-left"></use></svg>
				{{ game.courseName }}
			</a>
		</h3>
		<h1>Hole {{ hole.number }}</h1>
	</div>
	<h3 class="hole-par-section">
		Par <input class="narrow" id="hole-par" type="tel" disabled value="{{ hole.par }}">
		<button class="btn btn-small btn-link pull-right" type="button" id="edit-par">
			Edit Par
			<svg class="icon" viewBox="0 0 8 8"><use class="icon-edit" xlink:href="#pencil"></use></svg>
		</button>
	</h3>

	<ul class="hole-user-list">
		{{#each hole.players}}
			<li>
				<strong>{{playerName this}}</strong>

				<div class="score-wrap">
					<div class="input-group js-hole-score-control">
						<span class="input-group-btn">
							<button class="btn btn-success js-change-score js-decrease" type="submit">
								<svg class="icon" viewBox="0 0 8 8"><use class="icon-minus" xlink:href="#minus"></use></svg>
							</button>
						</span>
						<input type="tel" class="form-control js-hole-score" min="1" value="{{this.score}}">
						<span class="input-group-btn">
							<button class="btn btn-success js-change-score js-increase" type="submit">
								<svg class="icon" viewBox="0 0 8 8"><use class="icon-plus" xlink:href="#plus"></use></svg>
							</button>
						</span>
					</div>
				</div>
			</li>
		{{/each}}
	</ul>

	<nav class="holenav">
		{{#if prevHole}}
			<p>
				<a class="btn btn-default btn-block" href="/game/{{ game._id }}/{{ prevHole.number }}">
					<svg class="icon" viewBox="0 0 8 8"><use class="icon-left" xlink:href="#chevron-left"></use></svg>
					 Previous Hole
				 </a>
			 </p>
		{{/if}}
		{{#if nextHole}}
			<p>
				<a class="btn btn-default  btn-block" href="/game/{{ game._id }}/{{ nextHole.number }}">
					Next Hole
					<svg class="icon" viewBox="0 0 8 8"><use class="icon-right" xlink:href="#chevron-right"></use></svg>
				</a>
			</p>
		{{else}}
			<p>
				<button class="btn btn-warning btn-block" type="button" id="finish-game">
					Finish Game
					<svg class="icon" viewBox="0 0 8 8"><use class="icon-circle-check" xlink:href="#circle-check"></use></svg>
				</button>
			</p>
		{{/if}}
	</nav>

	<hr>

	<h2>Hole Location</h2>

	<div class="hole-location">


		{{#if hole.lat }}
			<img src="http://maps.googleapis.com/maps/api/staticmap?&zoom=19&scale=2&size=425x220&maptype=satellite&format=png&visual_refresh=true&markers=icon:http://chart.apis.google.com/chart?chst=d_map_spin%26chld=.75%257C0%257Cffe749%257C16%257Cb%257C{{ hole.number }}%7C{{ hole.lat }},{{ hole.lng }}" alt="Hole location of Hole {{ hole.number }}">
			<small><em>Accurate within {{ accuracy hole.accuracy }} feet.</em></small>

			<p><small>Location not correct? <button class="btn btn-link js-set-hole-location" type="button">Reset Hole location.</button></small></p>

			<button class="btn btn-info js-distance-to-hole" type="button">
				<svg class="icon" viewBox="0 0 8 8"><use class="icon-compass" xlink:href="#compass"></use></svg>
				Distance to Hole
			</button>
		{{else}}
			<div class="ctas">
				<button class="btn btn-info js-set-hole-location" type="button">
					<svg class="icon" viewBox="0 0 8 8"><use class="icon-marker" xlink:href="#map-marker"></use></svg>
					Set Hole location
				</button>
				<p><small>If you're standing at the hole, you can save the hole's location for future reference.</small></p>

			</div>
		{{/if}}
	</div>

	<hr>

	<h2>
		Hole Details
		<button class="btn btn-small btn-link pull-right" id="edit-hole-notes" type="button">
			Edit Details
			<svg class="icon" viewBox="0 0 8 8"><use class="icon-edit" xlink:href="#pencil"></use></svg>
		</button>
	</h2>
	<textarea id="hole-notes" disabled>{{ hole.notes }}</textarea>

</template>
